# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [115]:
DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

Import usefull libraries.

In [68]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
from datetime import datetime

Load the data in one dataframe.

In [108]:
folders = ['guinea', 'liberia', 'sl']
folder_end = '_data/'
folder_begin = 'ebola/'

ebola_data = pd.DataFrame(columns=['country', 'town', 'date', 'description', 'number'])
for folder in folders:
    folder_path = DATA_FOLDER + folder_begin + folder + folder_end
    print("Loading data from %s" % folder)
    for data_file in listdir(folder_path):
        if isfile(join(folder_path, data_file)):
            metas = data_file.replace('.', '-').split('-')
            meta_date = datetime(int(metas[0]), int(metas[1]), int(metas[2]))
            datas = pd.DataFrame.from_csv(folder_path + data_file)
            towns = datas.columns[2:]
            date = datas.index.name
            description = datas.columns[0]
            for town in towns:
                town_data = datas[datas[town] != 0].reset_index().copy()
                town_data['country'] = folder
                town_data['town'] = town
                town_data = town_data[['country', 'town', date, description, town]]
                town_data.columns = ['country', 'town', 'date', 'description', 'number']
                ebola_data = pd.concat([ebola_data, town_data], axis=0)
            
for column in ebola_data.columns:
    print(ebola_data[column].unique())
print(ebola_data.sample(frac=1).head())

Loading data from guinea
Loading data from liberia
Loading data from sl
['guinea' 'liberia' 'sl']
['Conakry' 'Gueckedou' 'Macenta' 'Dabola' 'Kissidougou' 'Dinguiraye'
 'Telimele' 'Boffa' 'Kouroussa' 'Dubreka' 'Siguiri' 'Pita' 'Nzerekore'
 'Mzerekore' 'Yomou' 'Forecariah' 'Kerouane' 'Coyah' 'Dalaba' 'Beyla'
 'Kindia' 'Lola' 'Bomi County' 'Bong County' 'Grand Kru' 'Lofa County'
 'Margibi County' 'Maryland County' 'Montserrado County' 'Nimba County'
 'River Gee County' 'RiverCess County' 'Sinoe County' 'Grand Gedeh'
 'Gbarpolu County' 'Grand Bassa' 'Grand Cape Mount' 'Unnamed: 18' 'Kenema'
 'Kono' 'Kambia' 'Koinadugu' 'Bombali' 'Tonkolili' 'Port Loko' 'Pujehun'
 'Bo' 'Moyamba' 'Bonthe' 'Western area urban' 'Western area rural'
 'National' 'Kenema (IFRC)' '34 Military Hospital' 'Police training School'
 'Police traning School' 'Bo EMC' 'Western area' 'Kenema (KGH)'
 'Hastings-F/Town' 'Western area combined']
['2014-08-04T00:00:00.000000000' '2014-08-26T00:00:00.000000000'
 '2014-08-27T00:00:00.000000000' '2014-08-30T00:00:00.000000000'
 '2014-08-31T00:00:00.000000000' '2014-09-02T00:00:00.000000000'
 '2014-09-04T00:00:00.000000000' '2014-09-07T00:00:00.000000000'
 '2014-09-08T00:00:00.000000000' '2014-09-09T00:00:00.000000000'
 '2014-09-11T00:00:00.000000000' '2014-09-14T00:00:00.000000000'
 '2014-09-16T00:00:00.000000000' '2014-09-17T00:00:00.000000000'
 '2014-09-19T00:00:00.000000000' '2014-09-21T00:00:00.000000000'
 '2014-09-22T00:00:00.000000000' '2014-09-23T00:00:00.000000000'
 '2014-09-24T00:00:00.000000000' '2014-09-26T00:00:00.000000000'
 '2014-09-30T00:00:00.000000000' '2014-10-01T00:00:00.000000000'
 '2014-06-16T00:00:00.000000000' '2014-06-17T00:00:00.000000000'
 '2014-06-22T00:00:00.000000000' '2014-06-24T00:00:00.000000000'
 '2014-06-25T00:00:00.000000000' '2014-06-28T00:00:00.000000000'
 '2014-06-29T00:00:00.000000000' '2014-07-01T00:00:00.000000000'
 '2014-07-02T00:00:00.000000000' '2014-07-03T00:00:00.000000000'
 '2014-07-07T00:00:00.000000000' '2014-07-08T00:00:00.000000000'
 '2014-07-10T00:00:00.000000000' '2014-07-13T00:00:00.000000000'
 '2014-07-17T00:00:00.000000000' '2014-07-20T00:00:00.000000000'
 '2014-07-24T00:00:00.000000000' '2014-07-26T00:00:00.000000000'
 '2014-08-02T00:00:00.000000000' '2014-08-12T00:00:00.000000000'
 '2014-08-15T00:00:00.000000000' '2014-08-17T00:00:00.000000000'
 '2014-08-18T00:00:00.000000000' '2014-08-20T00:00:00.000000000'
 '2014-08-25T00:00:00.000000000' '2014-08-28T00:00:00.000000000'
 '2014-09-01T00:00:00.000000000' '2014-09-03T00:00:00.000000000'
 '2014-09-05T00:00:00.000000000' '2014-09-06T00:00:00.000000000'
 '2014-09-10T00:00:00.000000000' '2014-09-12T00:00:00.000000000'
 '2014-09-13T00:00:00.000000000' '2014-09-15T00:00:00.000000000'
 '2014-09-20T00:00:00.000000000' '2014-09-25T00:00:00.000000000'
 '2014-09-27T00:00:00.000000000' '2014-09-28T00:00:00.000000000'
 '2014-10-03T00:00:00.000000000' '2014-10-04T00:00:00.000000000'
 '2014-10-05T00:00:00.000000000' '2014-10-07T00:00:00.000000000'
 '2014-10-08T00:00:00.000000000' '2014-10-09T00:00:00.000000000'
 '2014-10-10T00:00:00.000000000' '2014-10-11T00:00:00.000000000'
 '2014-10-12T00:00:00.000000000' '2014-10-13T00:00:00.000000000'
 '2014-10-16T00:00:00.000000000' '2014-10-17T00:00:00.000000000'
 '2014-10-18T00:00:00.000000000' '2014-10-19T00:00:00.000000000'
 '2014-10-20T00:00:00.000000000' '2014-10-21T00:00:00.000000000'
 '2014-10-22T00:00:00.000000000' '2014-10-23T00:00:00.000000000'
 '2014-10-24T00:00:00.000000000' '2014-10-25T00:00:00.000000000'
 '2014-10-28T00:00:00.000000000' '2014-10-29T00:00:00.000000000'
 '2014-10-30T00:00:00.000000000' '2014-10-31T00:00:00.000000000'
 '2014-11-02T00:00:00.000000000' '2014-11-04T00:00:00.000000000'
 '2014-11-08T00:00:00.000000000' '2014-11-14T00:00:00.000000000'
 '2014-11-15T00:00:00.000000000' '2014-11-19T00:00:00.000000000'
 '2014-11-20T00:00:00.000000000' '2014-11-21T00:00:00.000000000'
 '2014-11-23T00:00:00.000000000' '2014-11-24T00:00:00.000000000'
 '2014-11-26T00:00:00.000000000' '2014-11-27T00:00:00.000000000'
 '2014-11-28T00:00:00.000000000' '2014-11-29T00:00:00.000000000'
 '2014-11-30T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2014-12-02T00:00:00.000000000' '2014-12-03T00:00:00.000000000'
 '2014-12-04T00:00:00.000000000' '2014-12-05T00:00:00.000000000'
 '2014-12-06T00:00:00.000000000' '2014-12-07T00:00:00.000000000'
 '2014-12-08T00:00:00.000000000' '2014-12-09T00:00:00.000000000'
 '2014-08-13T00:00:00.000000000' '2014-08-14T00:00:00.000000000'
 '2014-08-16T00:00:00.000000000' '2014-08-19T00:00:00.000000000'
 '2014-08-21T00:00:00.000000000' '2014-08-22T00:00:00.000000000'
 '2014-08-23T00:00:00.000000000' '2014-08-24T00:00:00.000000000'
 '2014-08-29T00:00:00.000000000' '2014-09-18T00:00:00.000000000'
 '2014-09-29T00:00:00.000000000' '2014-10-06T00:00:00.000000000'
 '2014-10-14T00:00:00.000000000' '2014-10-15T00:00:00.000000000'
 '2014-10-26T00:00:00.000000000' '2014-10-27T00:00:00.000000000'
 '2014-11-01T00:00:00.000000000' '2014-11-06T00:00:00.000000000'
 '2014-11-07T00:00:00.000000000' '2014-11-10T00:00:00.000000000'
 '2014-11-12T00:00:00.000000000' '2014-11-13T00:00:00.000000000'
 '2014-11-16T00:00:00.000000000' '2014-11-17T00:00:00.000000000'
 '2014-11-18T00:00:00.000000000' '2014-11-22T00:00:00.000000000'
 '2014-12-13T00:00:00.000000000']
['New cases of suspects' 'New cases of confirmed'
 'Total new cases registered so far' 'Total cases of suspects'
 'Total cases of probables' 'Total cases of confirmed'
 'Cumulative (confirmed + probable + suspects)' 'Total deaths of suspects'
 'Total deaths of probables' 'Total deaths of confirmed'
 'Total deaths (confirmed + probables + suspects)' 'Total PEC center today'
 'Total PEC center today (confirmed)' 'Total PEC center today (suspects)'
 'Total of deaths in confirmed cases in CTE'
 'Total of cured in confirmed cases in CTE'
 'Number of male confirmed cases' 'Number of female confirmed cases'
 'Number of male probables cases' 'Number of female probables cases'
 'Number of male suspects cases' 'Number of female suspects cases'
 'Total number of male cases' 'Total number of female cases'
 'Number of confirmed cases among health workers'
 'Number of deaths of confirmed cases among health workers'
 'Number of probables cases among health workers'
 'Number of deaths of probables cases among health workers'
 'Total contacts registered from start date'
 'Number of contacts to follow today' 'Number of contacts out of track'
 'Number of contacts followed yesterday' 'Number of patients tested'
 'Number of samples collected' 'New deaths registered today'
 'New deaths registered today (confirmed)'
 'Number of suspects cases among health workers' 'New cases of probables'
 'Total suspected non-class cases' 'New deaths registered'
 'Fatality rate for confirmed and probables'
 'New cases of confirmed among health workers'
 'Total case of confirmed among health workers'
 'New deaths registered among health workers'
 'Total deaths registered among health workers' 'New admits to CTE so far'
 'Total number of hospitalized cases in CTE'
 'Total number of exits from CTE' 'Total number of admissions to CTE'
 'New contacts registered so far' 'Number of contacts followed today'
 'Number of contacts out of the track 21 days'
 'Number of contacts lost to follow up' 'Number of samples collected today'
 'Number of samples under test' 'Total samples tested'
 'Specimens collected' 'Specimens pending for testing'
 'Total specimens tested' 'Newly reported deaths'
 'Total death/s in confirmed cases' 'Total death/s in probable cases'
 'Total death/s in suspected cases'
 'Total death/s in confirmed, probable, suspected cases'
 'Case Fatality Rate (CFR) - Confirmed & Probable Cases'
 'Newly reported contacts' 'Total contacts listed'
 'Currently under follow-up' 'Contacts seen'
 'Contacts who completed 21 day follow-up' 'Contacts lost to follow-up'
 'New admissions' 'Total no. currently in Treatment Units'
 'Total discharges' 'Cumulative admission/isolation'
 'Newly Reported Cases in HCW' 'Cumulative cases among HCW'
 'Newly Reported deaths in HCW' 'Cumulative deaths among HCW'
 'New Case/s (Suspected)' 'New Case/s (Probable)' 'New case/s (confirmed)'
 'Total suspected cases' 'Total probable cases' 'Total confirmed cases'
 'Total Number of Confirmed Cases of Sierra Leonean Nationality'
 'Total Number of Confirmed Cases of Guinean Nationality'
 'Cumulative (confirmed + probable + suspected)' 'Total Case/s (Suspected)'
 'Total Case/s (Probable)' 'Total case/s (confirmed)' 'Cumulative CFR'
 'Total death/s in confirmed,  probable, suspected cases'
 'Cumulative confirmed, probable and suspected cases'
 'Total death/s in confirmed, \n probable, suspected cases'
 'Case Fatality Rate (CFR) - \n Confirmed & Probable Cases'
 'Contacts who completed 21 day \n follow-up'
 'Total no. currently in Treatment \n Units'
 'Total Number of Confirmed Cases \n of Sierra Leonean Nationality'
 'Total Number of Confirmed Cases \n of Guinean Nationality' 'population'
 'new_noncase' 'new_suspected' 'new_probable' 'new_confirmed' 'cum_noncase'
 'cum_suspected' 'cum_probable' 'cum_confirmed' 'death_suspected'
 'death_probable' 'death_confirmed' 'cfr' 'etc_new_admission'
 'etc_currently_admitted' 'etc_cum_admission' 'etc_new_deaths'
 'etc_cum_deaths' 'etc_new_discharges' 'etc_cum_discharges' 'cum_contacts'
 'cum_completed_contacts' 'contacts_followed' 'new_contacts'
 'contacts_healthy' 'contacts_ill' 'contacts_not_seen'
 'new_completed_contacts' 'percent_seen' 'total_lab_samples'
 'repeat_samples' 'new_samples' 'new_positive' 'new_negative' 'pending'
 'positive_corpse' 'negative_corpse']
[5.0 1.0 6.0 ..., 1526.0 1556.0 6638.0]
    country             town       date  \
31       sl               Bo 2014-11-21
14   guinea            Yomou 2014-09-19
10  liberia      Bong County 2014-11-04
17  liberia  Maryland County 2014-06-24
2   liberia      Grand Bassa 2014-10-10

                                  description number
31                               new_negative    NaN
14  Fatality rate for confirmed and probables    45%
10                              Contacts seen    102
17                           Total discharges    NaN
2                      Total specimens tested    NaN

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [140]:
# Write your answer here
datas = pd.DataFrame()

for i in range(1, 10):
    file_name = '%s/microbiome/MID%d.xls' % (DATA_FOLDER, i)
    data = pd.read_excel(open(file_name,'rb'), header=None)
    data['BARCODE'] = 'MID%d' % i
    datas = pd.concat([datas, data], axis=0)

data = pd.read_excel(open('%s/microbiome/metadata.xls' % (DATA_FOLDER),'rb'))
datas = datas.merge(data, how='left', on='BARCODE')
datas = datas.fillna('unknown')
del datas['BARCODE']
print(datas.sample(frac=1).head())

                                                   0  1 BARCODE
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  7    MID1
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  2    MID1
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...  3    MID1
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...  3    MID1
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...  7    MID1
3.0916129032258066
                                                      0   1  \
28    Bacteria "Actinobacteria" Actinobacteria Actin...  17
83    Bacteria "Bacteroidetes" Flavobacteria "Flavob...   7
457   Bacteria "Fusobacteria" "Fusobacteria" "Fusoba...   2
687   Bacteria "Bacteroidetes" Flavobacteria "Flavob...   6
2273  Bacteria "Firmicutes" "Clostridia" Halanaerobi...   1

                   GROUP   SAMPLE
28    EXTRACTION CONTROL  unknown
83    EXTRACTION CONTROL  unknown
457                NEC 1   tissue
687            Control 1   tissue
2273           Control 2    stool

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [141]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here