In [15]:
# import
%pylab inline
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Populating the interactive namespace from numpy and matplotlib

## Question 1

In [24]:
top_uni_json_link = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508402735534"
r = requests.get(top_uni_json_link)

In [90]:
def retrieve_people_number(url):
    
    url_complete = "https://www.topuniversities.com/" + url
    r = requests.get(url_complete)
    
    soup = BeautifulSoup(r.text, 'html.parser')
    
    numbers = None
    try:
        numbers = soup.find('div', {'id':'academic-data-carousel'}).find_all('div', class_='number')
    except:
        print("error at : " + url)
        return None
    
    numbers = list(map(lambda x: int(x.contents[0].replace('\n', '').replace(',', '')), numbers)) 
    if(len(numbers) == 4):
        return numbers
    else:
        print("wrong number of elements at : " + url)
        h3s = soup.find('div', {'id':'academic-data-carousel'}).find_all('h3')
        h3s = list(map(lambda x: (x.contents[0].replace('\n', '').replace(',', '')), h3s))
        original = ['Number of academic faculty staff','International','Number of students','Number of international students']
                
        result = [np.nan, np.nan, np.nan, np.nan]
        for h in range(0, len(h3s)):
            idx = original.index(h3s[h])
            result[idx] = numbers[h]
        
        return result

In [89]:
top_uni_df = pd.DataFrame(r.json()['data']).head(200)

missing_datas = pd.DataFrame( columns=['fac_members','inter_fac_members','students','inter_students'])
for index, row in top_uni_df.iterrows(): 
    tmp = retrieve_people_number(row.url)
    print(str(index) + " " + row.url + " : " + str(tmp))
    if(tmp != None):
        missing_datas.loc[index] = tmp
    else: 
        missing_datas.loc[index] = [np.nan, np.nan, np.nan, np.nan]

0 /universities/massachusetts-institute-technology-mit : [2982, 1679, 11067, 3717]
1 /universities/stanford-university : [4285, 2042, 15878, 3611]
2 /universities/harvard-university : [4350, 1311, 22429, 5266]
3 /universities/california-institute-technology-caltech : [953, 350, 2255, 647]
4 /universities/university-cambridge : [5490, 2278, 18770, 6699]
5 /universities/university-oxford : [6750, 2964, 19720, 7353]
6 /universities/ucl-university-college-london : [6345, 2554, 31080, 14854]
7 /universities/imperial-college-london : [3930, 2071, 16090, 8746]
8 /universities/university-chicago : [2449, 635, 13557, 3379]
9 /universities/eth-zurich-swiss-federal-institute-technology : [2477, 1886, 19815, 7563]
10 /universities/nanyang-technological-university-singapore-ntu : [4338, 2993, 25738, 7251]
11 /universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl : [1695, 1300, 10343, 5896]
12 /universities/princeton-university : [1007, 246, 8069, 1793]
13 /universities/cornell-university : [2718, 970, 21904, 5411]
14 /universities/national-university-singapore-nus : [5106, 3086, 32728, 8917]
15 /universities/yale-university : [4940, 1708, 12402, 2469]
16 /universities/johns-hopkins-university : [4462, 1061, 16146, 4105]
17 /universities/columbia-university : [6189, 913, 25045, 8105]
18 /universities/university-pennsylvania : [5499, 1383, 20639, 4250]
19 /universities/australian-national-university : [1600, 927, 14442, 5551]
20 /universities/duke-university : [2938, 226, 15320, 2864]
21 /universities/university-michigan : [6809, 1920, 43147, 7527]
22 /universities/kings-college-london : [3650, 1513, 23780, 9451]
23 /universities/university-edinburgh : [4075, 1553, 28040, 10551]
24 /universities/tsinghua-university : [5506, 932, 36300, 4072]
25 /universities/university-hong-kong : [3012, 2085, 20214, 8230]
26 /universities/university-california-berkeley-ucb : [3321, 1395, 36703, 6086]
27 /universities/northwestern-university : [4231, 1141, 18675, 3422]
28 /universities/university-tokyo : [4514, 254, 27279, 2639]
29 /universities/hong-kong-university-science-technology : [1150, 835, 10375, 2921]
30 /universities/university-toronto : [9581, 3905, 72207, 21910]
31 /universities/mcgill-university : [3646, 1220, 28837, 9540]
32 /universities/university-california-los-angeles-ucla : [2859, 662, 40114, 6887]
33 /universities/university-manchester : [4910, 1653, 36670, 13514]
34 /universities/london-school-economics-political-science-lse : [1088, 687, 9760, 6748]
35 /universities/kyoto-university : [4060, 293, 22974, 1990]
36 /universities/seoul-national-university : [3930, 433, 28064, 2331]
37 /universities/peking-university : [5185, 1038, 42136, 7090]
38 /universities/university-california-san-diego-ucsd : [3694, 870, 32237, 6644]
39 /universities/fudan-university : [4037, 1178, 29135, 4680]
40 /universities/kaist-korea-advanced-institute-science-technology : [1250, 147, 9826, 584]
41 /universities/university-melbourne : [3311, 1477, 42182, 18030]
42 /universities/ecole-normale-sup%C3%A9rieure-paris : [178, 75, 1907, 374]
43 /universities/university-bristol : [2870, 942, 20630, 5099]
44 /universities/university-new-south-wales-unsw-sydney : [2924, 1612, 39784, 14292]
45 /universities/chinese-university-hong-kong-cuhk : [2208, 1074, 18037, 4824]
46 /universities/university-queensland : [3158, 1870, 37497, 10420]
47 /universities/carnegie-mellon-university : [1342, 425, 13356, 6385]
48 /universities/city-university-hong-kong : [1349, 1027, 9240, 3273]
49 /universities/university-sydney : [3360, 1829, 46678, 17030]
50 /universities/university-british-columbia : [4648, 1635, 50350, 11388]
error at : /universities/new-york-university-nyu
51 /universities/new-york-university-nyu : None
52 /universities/brown-university : [1303, 379, 9251, 1825]
53 /universities/delft-university-technology : [1669, 701, 16527, 4634]
54 /universities/university-wisconsin-madison : [5722, 1151, 38985, 4920]
55 /universities/tokyo-institute-technology : [1563, 191, 9832, 1071]
56 /universities/university-warwick : [2093, 890, 19855, 7703]
57 /universities/university-amsterdam : [2600, 707, 25967, 3785]
58 /universities/ecole-polytechnique : [649, 259, 3126, 924]
59 /universities/monash-university : [3204, 1679, 57433, 20578]
60 /universities/university-washington : [2484, 550, 56973, 8373]
61 /universities/shanghai-jiao-tong-university : [3544, 887, 38931, 2858]
62 /universities/osaka-university : [2814, 296, 22760, 2106]
63 /universities/technical-university-munich : [5850, 1174, 38726, 6181]
64 /universities/university-glasgow : [2775, 956, 23815, 8149]
65 /universities/ludwig-maximilians-universit%C3%A4t-m%C3%BCnchen : [3274, 674, 35055, 5084]
66 /universities/university-texas-austin : [2833, 108, 47995, 4744]
67 /universities/ruprecht-karls-universit%C3%A4t-heidelberg : [3908, 756, 28852, 5298]
68 /universities/university-illinois-urbana-champaign : [2554, 259, 42427, 9483]
69 /universities/georgia-institute-technology : [1133, 75, 21082, 4761]
70 /universities/ku-leuven : [2515, 784, 45538, 6926]
71 /universities/pohang-university-science-technology-postech : [664, 113, 3117, 126]
72 /universities/university-zurich : [4997, 2617, 26065, 5036]
73 /universities/university-copenhagen : [7483, 2336, 32119, 3683]
74 /universities/universidad-de-buenos-aires-uba : [16421, 3165, 122301, 27109]
75 /universities/national-taiwan-university-ntu : [2807, 220, 32195, 3152]
76 /universities/tohoku-university : [3411, 264, 17827, 1604]
77 /universities/lund-university : [3031, 1002, 27786, 6408]
78 /universities/durham-university : [1539, 586, 16745, 4690]
79 /universities/university-north-carolina-chapel-hill : [4083, 524, 25373, 1934]
80 /universities/boston-university : [3157, 379, 25662, 7041]
81 /universities/university-auckland : [2047, 645, 29641, 8568]
82 /universities/university-sheffield : [3065, 938, 25430, 8745]
83 /universities/university-nottingham : [3360, 1135, 29165, 7993]
84 /universities/university-birmingham : [2962, 1028, 28660, 7795]
85 /universities/ohio-state-university : [5911, 1696, 43156, 6874]
86 /universities/zhejiang-university : [4507, 1913, 40869, 4625]
87 /universities/trinity-college-dublin-university-dublin : [1249, 544, 14961, 4311]
88 /universities/rice-university : [969, 316, 6610, 1847]
89 /universities/university-alberta : [3561, 1294, 31765, 8203]
90 /universities/korea-university : [3745, 339, 25892, 3638]
91 /universities/university-st-andrews : [1140, 485, 8800, 4030]
92 /universities/pennsylvania-state-university : [3509, 211, 45612, 7081]
93 /universities/university-western-australia : [1420, 809, 18531, 4575]
94 /universities/hong-kong-polytechnic-university : [2447, 1275, 20972, 5251]
95 /universities/lomonosov-moscow-state-university : [6709, 373, 30233, 5098]
96 /universities/university-science-technology-china : [1992, 155, 16032, 548]
97 /universities/kth-royal-institute-technology : [1500, 494, 12658, 1937]
98 /universities/university-geneva : [1752, 1029, 15844, 6104]
99 /universities/washington-university-st-louis : [2699, 784, 13474, 2706]
100 /universities/university-leeds : [3025, 870, 29645, 7534]
101 /universities/university-southampton : [2820, 1017, 23775, 7789]
102 /universities/university-helsinki : [2645, 535, 22419, 1234]
103 /universities/eindhoven-university-technology : [801, 322, 7636, 1275]
104 /universities/purdue-university : [3247, 1334, 38143, 8787]
105 /universities/yonsei-university : [3621, 290, 25903, 3379]
106 /universities/kit-karlsruhe-institute-technology : [1827, 410, 26081, 4809]
107 /universities/sungkyunkwan-university-skku : [3556, 324, 23921, 2818]
108 /universities/university-adelaide : [1729, 633, 21240, 8114]
109 /universities/utrecht-university : [3067, 653, 31754, 2771]
110 /universities/leiden-university : [2324, 581, 26513, 3488]
111 /universities/uppsala-university : [2567, 584, 25371, 5198]
112 /universities/university-groningen : [3351, 1137, 27549, 10780]
113 /universities/universiti-malaya-um : [2755, 655, 17902, 3476]
114 /universities/nanjing-university : [2449, 617, 32495, 2960]
115 /universities/nagoya-university : [2665, 206, 15838, 1547]
116 /universities/technical-university-denmark : [2117, 966, 8878, 2098]

117 /universities/university-california-davis : [3843, 549, 34244, 4529]
118 /universities/aarhus-university : [2316, 602, 26226, 3762]
119 /universities/humboldt-universit%C3%A4t-zu-berlin : [1966, 407, 33198, 4805]
120 /universities/universidade-de-s%C3%A3o-paulo : [5582, 279, 65711, 2086]
121 /universities/universidad-nacional-aut%C3%B3noma-de-m%C3%A9xico-unam : [15073, 949, 141939, 2173]
122 /universities/hokkaido-university : [2605, 210, 17552, 1347]
123 /universities/wageningen-university : [2277, 323, 12695, 3613]
124 /universities/freie-universitaet-berlin : [1375, 305, 32912, 5735]
125 /universities/ghent-university : [2520, 482, 35968, 3766]
126 /universities/queen-mary-university-london : [1885, 801, 16135, 6806]
127 /universities/kyushu-university : [2858, 246, 18660, 1787]
128 /universities/university-maryland-college-park : [3920, 473, 35504, 4683]
129 /universities/universit%C3%A9-de-montr%C3%A9al : [2961, 1037, 39112, 9688]
130 /universities/universit%C3%A9-pierre-et-marie-curie-upmc : [2273, 253, 24305, 4213]
131 /universities/university-southern-california : [3124, 551, 38749, 9170]
132 /universities/chalmers-university-technology : [1077, 336, 9257, 1465]
133 /universities/university-california-santa-barbara-ucsb : [1449, 267, 23149, 2128]
134 /universities/lancaster-university : [1245, 435, 12300, 4464]
135 /universities/university-york : [1833, 636, 15999, 3364]
136 /universities/aalto-university : [1257, 370, 12147, 1831]
137 /universities/cardiff-university : [2755, 705, 24565, 6090]
138 /universities/pontificia-universidad-cat%C3%B3lica-de-chile-uc : [2260, 198, 27003, 991]
139 /universities/mcmaster-university : [3231, 1170, 23702, 3548]
140 /universities/rwth-aachen-university : [3176, 449, 44517, 8556]
141 /universities/university-oslo : [2509, 711, 24304, 3667]
142 /universities/university-pittsburgh : [4982, 572, 26393, 2937]
143 /universities/technische-universit%C3%A4t-berlin-tu-berlin : [2562, 377, 22176, 4494]
144 /universities/hebrew-university-jerusalem : [2249, 454, 16531, 1034]
145 /universities/university-lausanne : [2173, 1031, 13435, 3337]
146 /universities/emory-university : [2560, 484, 12852, 2154]
147 /universities/erasmus-university-rotterdam : [2011, 458, 23273, 5229]
148 /universities/university-basel : [1057, 684, 12852, 3441]
149 /universities/michigan-state-university : [2884, 653, 44951, 7427]
150 /universities/university-otago : [1266, 759, 18532, 3871]
151 /universities/university-waterloo : [1689, 473, 35541, 8962]
152 /universities/universit%C3%A9-catholique-de-louvain-ucl : [1219, 406, 24277, 4468]
153 /universities/university-vienna : [3411, 1400, 45967, 14468]
154 /universities/hanyang-university : [3085, 364, 23348, 3397]
155 /universities/universitat-de-barcelona : [3863, 108, 46002, 6134]
156 /universities/%C3%A9cole-normale-sup%C3%A9rieure-de-lyon : [382, 91, 2020, 221]
157 /universities/university-exeter : [1756, 597, 20749, 5504]
158 /universities/university-aberdeen : [1310, 508, 12005, 4246]
159 /universities/university-bath : [1165, 440, 14370, 4213]
160 /universities/newcastle-university : [2428, 835, 21673, 5717]
161 /universities/national-tsing-hua-university : [1020, 119, 13890, 1187]
162 /universities/university-minnesota : [4919, 195, 59742, 6542]
163 /universities/eberhard-karls-universit%C3%A4t-t%C3%BCbingen : [3844, 796, 27366, 3860]
164 /universities/university-california-irvine : [1926, 377, 32151, 8538]
165 /universities/university-bergen : [1513, 484, 10671, 767]
166 /universities/university-bern : [1172, 661, 10758, 1618]
167 /universities/university-college-dublin : [1604, 627, 19833, 3876]
168 /universities/dartmouth-college : [939, 27, 6224, 945]
169 /universities/politecnico-di-milano : [1500, 231, 36277, 5593]
170 /universities/albert-ludwigs-universitaet-freiburg : [1966, 413, 23214, 3897]
171 /universities/indian-institute-technology-delhi-iitd : [466, 4, 7477, 80]
172 /universities/university-virginia : [2509, 487, 21560, 1899]
173 /universities/king-fahd-university-petroleum-minerals : [1062, 665, 6040, 989]
174 /universities/university-liverpool : [2390, 717, 22065, 7502]
175 /universities/university-technology-sydney : [1328, 546, 24207, 7769]
176 /universities/centralesup%C3%A9lec : [529, 137, 3877, 1132]
177 /universities/university-florida : [5419, 504, 45485, 4597]
178 /universities/university-twente : [910, 299, 9332, 2235]
179 /universities/indian-institute-technology-bombay-iitb : [876, 19, 9402, 93]
180 /universities/university-g%C3%B6ttingen : [3678, 641, 30402, 3736]
181 /universities/vrije-universiteit-brussel-vub : [1792, 515, 9284, 1853]
182 /universities/universidade-estadual-de-campinas-unicamp : [1968, 109, 26572, 966]
183 /universities/university-colorado-boulder : [3685, 566, 30219, 2679]
184 /universities/vienna-university-technology : [706, 172, 17479, 5199]
185 /universities/university-rochester : [2569, 488, 9636, 2805]
186 /universities/universidad-aut%C3%B3noma-de-madrid : [2738, 181, 26511, 2976]
187 /universities/alma-mater-studiorum-university-bologna : [2990, 153, 63399, 4195]
188 /universities/university-reading : [1280, 422, 13330, 4077]
wrong number of elements at : /universities/indian-institute-science-iisc-bangalore
['Number of academic faculty staff', 'Number of students', 'Number of international students']
189 /universities/indian-institute-science-iisc-bangalore : [423, nan, 4071, 47]
190 /universities/university-cape-town : [1733, 379, 19593, 3325]
191 /universities/scuola-normale-superiore-di-pisa : [86, 1, 532, 48]
192 /universities/scuola-superiore-santanna-pisa-di-studi-universitari-e-di-perfezionamento : [119, 1, 789, 135]
193 /universities/keio-university : [3905, 261, 33500, 2178]
194 /universities/stockholm-university : [2154, 646, 28281, 2636]
195 /universities/universitat-aut%C3%B2noma-de-barcelona : [2187, 230, 31986, 3848]
196 /universities/texas-am-university : [3446, 206, 60294, 4900]
197 /universities/instituto-tecnol%C3%B3gico-y-de-estudios-superiores-de-monterrey : [1822, 821, 13376, 1412]
198 /universities/maastricht-university : [1277, 502, 16385, 8234]

In [106]:
top_uni_df_complete = pd.concat([top_uni_df, missing_datas], axis=1)

top_uni_df_complete['ratio_fac_students'] = top_uni_df_complete['fac_members'].values / top_uni_df_complete['students']
top_uni_df_complete['ratio_inter_students'] = top_uni_df_complete['inter_students'].values / top_uni_df_complete['students']

top_uni_df_complete.drop(['cc','core_id', 'guide','logo','nid','score','stars','url'], axis=1, inplace=True)
top_uni_df_complete.head()

,country,rank_display,region,title,fac_members,inter_fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
0,United States,1,North America,Massachusetts Institute of Technology (MIT),2982,1679,11067,3717,0.26945,0.335863
1,United States,2,North America,Stanford University,4285,2042,15878,3611,0.26987,0.227422
2,United States,3,North America,Harvard University,4350,1311,22429,5266,0.193945,0.234785
3,United States,4,North America,California Institute of Technology (Caltech),953,350,2255,647,0.422616,0.286918
4,United Kingdom,5,Europe,University of Cambridge,5490,2278,18770,6699,0.292488,0.356899

In [107]:
top_uni_df_complete.sort_values('ratio_fac_students', ascending=False).head()

,country,rank_display,region,title,fac_members,inter_fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
3,United States,4,North America,California Institute of Technology (Caltech),953,350,2255,647,0.422616,0.286918
15,United States,16,North America,Yale University,4940,1708,12402,2469,0.398323,0.199081
5,United Kingdom,6,Europe,University of Oxford,6750,2964,19720,7353,0.342292,0.37287
4,United Kingdom,5,Europe,University of Cambridge,5490,2278,18770,6699,0.292488,0.356899
16,United States,17,North America,Johns Hopkins University,4462,1061,16146,4105,0.276353,0.254243

In [108]:
top_uni_df_complete.sort_values('ratio_inter_students', ascending=False).head()

,country,rank_display,region,title,fac_members,inter_fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
34,United Kingdom,35,Europe,London School of Economics and Political Scien...,1088,687,9760,6748,0.111475,0.691393
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695,1300,10343,5896,0.163879,0.570047
7,United Kingdom,8,Europe,Imperial College London,3930,2071,16090,8746,0.244251,0.543567
198,Netherlands,200,Europe,Maastricht University,1277,502,16385,8234,0.0779371,0.502533
47,United States,=47,North America,Carnegie Mellon University,1342,425,13356,6385,0.100479,0.478062

In [128]:
top_uni_agg_region = top_uni_df_complete[['region','fac_members','inter_fac_members','students','inter_students']].groupby(by = ['region']).agg(sum)

top_uni_agg_region['ratio_fac_students'] = top_uni_agg_region['fac_members'].values / top_uni_agg_region['students']
top_uni_agg_region['ratio_inter_students'] = top_uni_agg_region['inter_students'].values / top_uni_agg_region['students']

top_uni_agg_region

,fac_members,inter_fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
region,,,,,,
Africa,1733.0,379,19593.0,3325.0,0.088450,0.169703
Asia,106734.0,25462,807003.0,110100.0,0.132260,0.136431
Europe,218358.0,67598,1957251.0,449364.0,0.111564,0.229589
Latin America,43126.0,5521,396902.0,34737.0,0.108657,0.087520
North America,182123.0,43836,1546353.0,292116.0,0.117776,0.188906
Oceania,25347.0,12786,350167.0,118798.0,0.072385,0.339261

In [129]:
top_uni_agg_country = top_uni_df_complete[['country','fac_members','inter_fac_members','students','inter_students']].groupby(by = ['country']).agg(sum)

top_uni_agg_country['ratio_fac_students'] = top_uni_agg_country['fac_members'].values / top_uni_agg_country['students']
top_uni_agg_country['ratio_inter_students'] = top_uni_agg_country['inter_students'].values / top_uni_agg_country['students']

top_uni_agg_country

,fac_members,inter_fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
country,,,,,,
Argentina,16421.0,3165,122301.0,27109.0,0.134267,0.221658
Australia,22034.0,11382,301994.0,106359.0,0.072962,0.352189
Austria,4117.0,1572,63446.0,19667.0,0.064890,0.309980
Belgium,8046.0,2187,115067.0,17013.0,0.069924,0.147853
Brazil,7550.0,388,92283.0,3052.0,0.081814,0.033072
Canada,29317.0,10734,281514.0,73239.0,0.104140,0.260161
Chile,2260.0,198,27003.0,991.0,0.083694,0.036700
China,27220.0,6720,235898.0,26833.0,0.115389,0.113748
Denmark,11916.0,3904,67223.0,9543.0,0.177261,0.141960
Finland,3902.0,905,34566.0,3065.0,0.112885,0.088671
France,4011.0,815,35235.0,6864.0,0.113836,0.194806
Germany,33426.0,6402,342499.0,56455.0,0.097594,0.164833
Hong Kong,10166.0,6296,78838.0,24499.0,0.128948,0.310751
India,1765.0,23,20950.0,220.0,0.084248,0.010501
Ireland,2853.0,1171,34794.0,8187.0,0.081997,0.235299
Israel,2249.0,454,16531.0,1034.0,0.136047,0.062549
Italy,4695.0,386,100997.0,9971.0,0.046487,0.098726
Japan,28395.0,2221,186222.0,16269.0,0.152479,0.087363
Malaysia,2755.0,655,17902.0,3476.0,0.153893,0.194168
Mexico,16895.0,1770,155315.0,3585.0,0.108779,0.023082
Netherlands,20287.0,5683,197631.0,46044.0,0.102651,0.232980
New Zealand,3313.0,1404,48173.0,12439.0,0.068773,0.258215
Norway,4022.0,1195,34975.0,4434.0,0.114996,0.126776
Russia,6709.0,373,30233.0,5098.0,0.221910,0.168624
Saudi Arabia,1062.0,665,6040.0,989.0,0.175828,0.163742
Singapore,9444.0,6079,58466.0,16168.0,0.161530,0.276537
South Africa,1733.0,379,19593.0,3325.0,0.088450,0.169703
South Korea,19851.0,2010,140071.0,16273.0,0.141721,0.116177
Spain,8788.0,519,104499.0,12958.0,0.084096,0.124001
Sweden,10329.0,3062,103353.0,17644.0,0.099939,0.170716
Switzerland,15323.0,9208,109112.0,32995.0,0.140434,0.302396
Taiwan,3827.0,339,46085.0,4339.0,0.083042,0.094152
United Kingdom,79934.0,30216,583621.0,199426.0,0.136962,0.341705
United States,152806.0,33102,1264839.0,218877.0,0.120811,0.173047

## Question 2

In [209]:
times_high_json_link = "https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json"
r = requests.get(times_high_json_link)

In [210]:
times_high_df = pd.DataFrame(r.json()['data']).head(200)

times_high_df = times_high_df[['location','aliases','name','rank','stats_number_students','stats_pc_intl_students','stats_student_staff_ratio']]
times_high_df.head()

,location,aliases,name,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,United Kingdom,University of Oxford,University of Oxford,1,"20,409",38%,11.2
1,United Kingdom,University of Cambridge,University of Cambridge,2,"18,389",35%,10.9
2,United States,California Institute of Technology caltech,California Institute of Technology,=3,"2,209",27%,6.5
3,United States,Stanford University,Stanford University,=3,"15,845",22%,7.5
4,United States,Massachusetts Institute of Technology,Massachusetts Institute of Technology,5,"11,177",34%,8.7

In [211]:
times_high_df['ratio_inter_student'] = times_high_df['stats_pc_intl_students'].str.replace('%','').astype(int) / 100.0
times_high_df['stats_student_staff_ratio'] = 1.0 / times_high_df['stats_student_staff_ratio'].astype(float)
times_high_df.head()

,location,aliases,name,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,ratio_inter_student
0,United Kingdom,University of Oxford,University of Oxford,1,"20,409",38%,0.089286,0.38
1,United Kingdom,University of Cambridge,University of Cambridge,2,"18,389",35%,0.091743,0.35
2,United States,California Institute of Technology caltech,California Institute of Technology,=3,"2,209",27%,0.153846,0.27
3,United States,Stanford University,Stanford University,=3,"15,845",22%,0.133333,0.22
4,United States,Massachusetts Institute of Technology,Massachusetts Institute of Technology,5,"11,177",34%,0.114943,0.34

In [212]:
times_high_df['students'] = times_high_df['stats_number_students'].astype(str).str.replace(',','').astype(int)
times_high_df['inter_students'] = np.round(times_high_df['students'] * times_high_df['ratio_inter_student']).astype(int)
times_high_df['fac_members'] = np.round(times_high_df['students'] * times_high_df['stats_student_staff_ratio']).astype(int)
times_high_df

,location,aliases,name,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,ratio_inter_student,students,inter_students,fac_members
0,United Kingdom,University of Oxford,University of Oxford,1,"20,409",38%,0.089286,0.38,20409,7755,1822
1,United Kingdom,University of Cambridge,University of Cambridge,2,"18,389",35%,0.091743,0.35,18389,6436,1687
2,United States,California Institute of Technology caltech,California Institute of Technology,=3,"2,209",27%,0.153846,0.27,2209,596,340
3,United States,Stanford University,Stanford University,=3,"15,845",22%,0.133333,0.22,15845,3486,2113
4,United States,Massachusetts Institute of Technology,Massachusetts Institute of Technology,5,"11,177",34%,0.114943,0.34,11177,3800,1285
5,United States,Harvard University,Harvard University,6,"20,326",26%,0.112360,0.26,20326,5285,2284
6,United States,Princeton University,Princeton University,7,"7,955",24%,0.120482,0.24,7955,1909,958
7,United Kingdom,Imperial College London,Imperial College London,8,"15,857",55%,0.087719,0.55,15857,8721,1391
8,United States,University of Chicago,University of Chicago,9,"13,525",25%,0.161290,0.25,13525,3381,2181
9,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich – Swiss Federal Institute of Techno...,=10,"19,233",38%,0.068493,0.38,19233,7309,1317
10,United States,University of Pennsylvania,University of Pennsylvania,=10,"20,361",20%,0.153846,0.20,20361,4072,3132
11,United States,Yale University,Yale University,12,"12,155",21%,0.232558,0.21,12155,2553,2827
12,United States,Johns Hopkins University,Johns Hopkins University,13,"15,498",24%,0.232558,0.24,15498,3720,3604
13,United States,Columbia University,Columbia University,14,"26,587",32%,0.163934,0.32,26587,8508,4359
14,United States,"University of California, Los Angeles","University of California, Los Angeles",15,"39,279",17%,0.104167,0.17,39279,6677,4092
15,United Kingdom,University College London ucl,University College London,16,"30,304",49%,0.095238,0.49,30304,14849,2886
16,United States,Duke University,Duke University,17,"15,256",22%,0.222222,0.22,15256,3356,3390
17,United States,"University of California, Berkeley","University of California, Berkeley",18,"36,182",17%,0.076336,0.17,36182,6151,2762
18,United States,Cornell University,Cornell University,19,"21,850",24%,0.102041,0.24,21850,5244,2230
19,United States,Northwestern University,Northwestern University,20,"17,466",18%,0.078125,0.18,17466,3144,1365
20,United States,University of Michigan,University of Michigan,21,"41,818",16%,0.116279,0.16,41818,6691,4863
21,Singapore,National University of Singapore nus,National University of Singapore,=22,"30,602",30%,0.058824,0.30,30602,9181,1800
22,Canada,University of Toronto,University of Toronto,=22,"69,427",17%,0.053476,0.17,69427,11803,3713
23,United States,Carnegie Mellon University,Carnegie Mellon University,24,"12,676",45%,0.074074,0.45,12676,5704,939
24,United Kingdom,London School of Economics and Political Science,London School of Economics and Political Science,=25,"10,065",71%,0.081967,0.71,10065,7146,825
25,United States,University of Washington,University of Washington,=25,"44,945",16%,0.087719,0.16,44945,7191,3943
26,United Kingdom,University of Edinburgh,University of Edinburgh,=27,"26,759",40%,0.080000,0.40,26759,10704,2141
27,United States,New York University,New York University,=27,"43,860",26%,0.104167,0.26,43860,11404,4569
28,China,Peking University,Peking University,=27,"42,136",16%,0.112360,0.16,42136,6742,4734
29,China,Tsinghua University Qinghua University Tsing h...,Tsinghua University,30,"42,089",9%,0.072993,0.09,42089,3788,3072
...,...,...,...,...,...,...,...,...,...,...,...
170,South Africa,University of Cape Town,University of Cape Town,171,"20,775",18%,0.085470,0.18,20775,3740,1776
171,United States,"Rutgers, the State University of New Jersey","Rutgers, the State University of New Jersey",172,"43,439",10%,0.090090,0.10,43439,4344,3913
172,Sweden,KTH Royal Institute of Technology,KTH Royal Institute of Technology,=173,"12,951",17%,0.062500,0.17,12951,2202,809
173,Germany,University of Münster,University of Münster,=173,"42,287",7%,0.023474,0.07,42287,2960,993
174,Belgium,Université Libre de Bruxelles,Université Libre de Bruxelles,=175,"25,343",35%,0.023041,0.35,25343,8870,584
175,United Kingdom,Newcastle University,Newcastle University,=175,"20,952",30%,0.064103,0.30,20952,6286,1343
176,United Kingdom,University of Liverpool,University of Liverpool,=177,"19,815",35%,0.085470,0.35,19815,6935,1694
177,China,Zhejiang University ZJU Zhejiang University Ch...,Zhejiang University,=177,"50,051",6%,0.070922,0.06,50051,3003,3550
178,Luxembourg,University of Luxembourg,University of Luxembourg,=179,"4,969",57%,0.068493,0.57,4969,2832,340
179,Netherlands,University of Twente,University of Twente,=179,"6,697",27%,0.078125,0.27,6697,1808,523
180,France,Paris-Sud University,Paris-Sud University,181,"27,221",16%,0.068966,0.16,27221,4355,1877
181,France,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon,=182,"2,221",13%,0.117647,0.13,2221,289,261
182,Hong Kong,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong Polytechnic University,=182,"21,773",25%,0.037175,0.25,21773,5443,809
183,Italy,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa,184,515,7%,0.192308,0.07,515,36,99
184,United Kingdom,University of Aberdeen,University of Aberdeen,185,"12,055",36%,0.071942,0.36,12055,4340,867
185,United States,University of Miami,University of Miami,186,"15,860",16%,0.169492,0.16,15860,2538,2688
186,United Kingdom,University of Dundee,University of Dundee,187,"10,893",24%,0.067114,0.24,10893,2614,731
187,United Kingdom,University of East Anglia,University of East Anglia,=188,"13,521",30%,0.073529,0.30,13521,4056,994
188,China,Shanghai Jiao Tong University,Shanghai Jiao Tong University,=188,"37,288",6%,0.080645,0.06,37288,2237,3007
189,Finland,Aalto University,Aalto University,190,"12,744",20%,0.049505,0.20,12744,2549,631
190,United States,University of Massachusetts,University of Massachusetts,191,"59,230",14%,0.075188,0.14,59230,8292,4453
191,New Zealand,University of Auckland,University of Auckland,192,"30,348",29%,0.053191,0.29,30348,8801,1614
192,United States,Northeastern University,Northeastern University,193,"18,780",32%,0.071429,0.32,18780,6010,1341
193,Russian Federation,Lomonosov Moscow State University,Lomonosov Moscow State University,194,"29,236",22%,0.136986,0.22,29236,6432,4005
194,Netherlands,Tilburg University,Tilburg University,195,"7,738",13%,0.044444,0.13,7738,1006,344
195,France,Paris-Sorbonne University – Paris 4,Paris-Sorbonne University – Paris 4,196,"22,042",15%,0.033113,0.15,22042,3306,730
196,United Kingdom,"Royal Holloway, University of London","Royal Holloway, University of London",197,"8,931",40%,0.064935,0.40,8931,3572,580
197,United States,"University of California, Riverside","University of California, Riverside",=198,"20,740",14%,0.048309,0.14,20740,2904,1002
198,Sweden,University of Gothenburg,University of Gothenburg,=198,"18,378",13%,0.100000,0.13,18378,2389,1838
199,Taiwan,National Taiwan University,National Taiwan University,=198,"31,758",8%,0.086957,0.08,31758,2541,2762

In [224]:
times_high_df_complete = times_high_df.drop(['stats_pc_intl_students', 'aliases', 'stats_number_students'], axis=1)
times_high_df_complete.rename(columns = {'stats_student_staff_ratio': 'ratio_fac_students', 'location': 'country','name': 'title'}, inplace=True)

In [225]:
times_high_agg_country = times_high_df_complete[['country','fac_members','students','inter_students']].groupby(by = ['country']).agg(sum)

times_high_agg_country['ratio_fac_students'] = times_high_agg_country['fac_members'].values / times_high_agg_country['students']
times_high_agg_country['ratio_inter_students'] = times_high_agg_country['inter_students'].values / times_high_agg_country['students']

times_high_agg_country

,fac_members,students,inter_students,ratio_fac_students,ratio_inter_students
country,,,,,
Australia,9940,268630,83812,0.037003,0.311998
Austria,1701,35375,9198,0.048085,0.260014
Belgium,3428,130115,23769,0.026346,0.182677
Canada,13240,249401,55906,0.053087,0.224161
China,21390,253911,22883,0.084242,0.090122
Denmark,10598,64110,9327,0.165310,0.145484
Finland,2022,35276,3901,0.057319,0.110585
France,7437,99378,18975,0.074835,0.190938
Germany,15355,586364,87490,0.026187,0.149208
Hong Kong,4141,77663,25158,0.053320,0.323938
Ireland,709,16157,4362,0.043882,0.269976
Italy,158,1205,133,0.131120,0.110373
Japan,6465,48481,4398,0.133351,0.090716
Luxembourg,340,4969,2832,0.068424,0.569934
Netherlands,13606,240180,41565,0.056649,0.173058
New Zealand,1614,30348,8801,0.053183,0.290003
Norway,1491,27730,5269,0.053768,0.190011
Russian Federation,4005,29236,6432,0.136989,0.220003
Singapore,3364,56101,17086,0.059963,0.304558
South Africa,1776,20775,3740,0.085487,0.180024
South Korea,4514,63035,6773,0.071611,0.107448
Spain,3042,43481,6510,0.069962,0.149721
Sweden,8484,125746,16009,0.067469,0.127312
Switzerland,10049,107852,32746,0.093174,0.303620
Taiwan,2762,31758,2541,0.086970,0.080011
United Kingdom,44439,596449,213058,0.074506,0.357211
United States,152354,1705533,280365,0.089329,0.164386

## Question 3

In [257]:
top_uni_bef_merge = top_uni_df_complete.copy()
top_uni_bef_merge['title'] = top_uni_bef_merge['title'].str.lower(). \
    str.replace('é','e'). \
    str.replace(r'\(.*\)', ''). \
    str.replace('the',''). \
    str.replace('of',''). \
    str.replace('at',''). \
    str.replace(r',|\.',''). \
    str.replace(' ',''). \
    str.replace('\'','’')

times_high_bef_merge = times_high_df_complete.copy()
times_high_bef_merge['title'] = times_high_bef_merge['title'].str.lower(). \
    str.replace('é','e'). \
    str.replace(r'\(.*\)', ''). \
    str.replace('the',''). \
    str.replace('of',''). \
    str.replace('at',''). \
    str.replace(r',|\.',''). \
    str.replace(' ',''). \
    str.replace('\'','’')

inner_title = top_uni_bef_merge.merge(times_high_bef_merge, on='title', how='inner').sort_values('title')['title']
outer_title = top_uni_bef_merge.merge(times_high_bef_merge, on='title', how='outer').sort_values('title')['title']

merge_df = top_uni_bef_merge.merge(times_high_bef_merge, on='title', how='inner').sort_values('title')
merge_df

,country_x,rank_display,region,title,fac_members_x,inter_fac_members,students_x,inter_students_x,ratio_fac_students_x,ratio_inter_students,country_y,rank,ratio_fac_students_y,ratio_inter_student,students_y,inter_students_y,fac_members_y
110,Finland,=137,Europe,aaltouniversity,1257,370,12147,1831,0.103482,0.150737,Finland,190,0.049505,0.20,12744,2549,631
102,Denmark,119,Europe,aarhusuniversity,2316,602,26226,3762,0.0883093,0.143445,Denmark,=109,0.069930,0.12,25167,3020,1760
17,Australia,20,Oceania,australiannionaluniversity,1600,927,14442,5551,0.110788,0.384365,Australia,48,0.051813,0.35,15986,5595,828
70,United States,81,North America,bostonuniversity,3157,379,25662,7041,0.123022,0.274375,United States,=70,0.116279,0.25,24833,6208,2888
48,United States,53,North America,brownuniversity,1303,379,9251,1825,0.14085,0.197276,United States,=50,0.093458,0.20,8898,1780,832
3,United States,4,North America,californiainstitutetechnology,953,350,2255,647,0.422616,0.286918,United States,=3,0.153846,0.27,2209,596,340
111,United Kingdom,=137,Europe,cardiffuniversity,2755,705,24565,6090,0.112151,0.247914,United Kingdom,=162,0.074074,0.26,24186,6288,1792
43,United States,=47,North America,carnegiemellonuniversity,1342,425,13356,6385,0.100479,0.478062,United States,24,0.074074,0.45,12676,5704,939
41,Hong Kong,46,Asia,chineseuniversityhongkong,2208,1074,18037,4824,0.122415,0.26745,Hong Kong,58,0.057803,0.31,18072,5602,1045
44,Hong Kong,49,Asia,cityuniversityhongkong,1349,1027,9240,3273,0.145996,0.354221,Hong Kong,=119,0.089286,0.35,9240,3234,825
15,United States,18,North America,columbiauniversity,6189,913,25045,8105,0.247115,0.323617,United States,14,0.163934,0.32,26587,8508,4359
11,United States,14,North America,cornelluniversity,2718,970,21904,5411,0.124087,0.247033,United States,19,0.102041,0.24,21850,5244,2230
130,United States,169,North America,dartmouthcollege,939,27,6224,945,0.150868,0.151832,United States,89,0.151515,0.15,6100,915,924
49,Netherlands,54,Europe,delftuniversitytechnology,1669,701,16527,4634,0.100986,0.28039,Netherlands,63,0.051020,0.27,17057,4605,870
18,United States,=21,North America,dukeuniversity,2938,226,15320,2864,0.191775,0.186945,United States,17,0.222222,0.22,15256,3356,3390
68,United Kingdom,=78,Europe,durhamuniversity,1539,586,16745,4690,0.091908,0.280084,United Kingdom,97,0.067114,0.29,16310,4730,1095
123,France,157,Europe,ecolenormalesuperieuredelyon,382,91,2020,221,0.189109,0.109406,France,=182,0.117647,0.13,2221,289,261
53,France,59,Europe,ecolepolytechnique,649,259,3126,924,0.207614,0.295585,France,115,0.196078,0.36,2799,1008,549
9,Switzerland,12,Europe,ecolepolytechniquefederaledelausanne,1695,1300,10343,5896,0.163879,0.570047,Switzerland,=38,0.089286,0.55,9928,5460,886
91,Netherlands,104,Europe,eindhovenuniversitytechnology,801,322,7636,1275,0.104898,0.166972,Netherlands,=141,0.053763,0.17,7637,1298,411
117,United States,=147,North America,emoryuniversity,2560,484,12852,2154,0.199191,0.1676,United States,98,0.227273,0.19,12649,2403,2875
118,Netherlands,=147,Europe,erasmusuniversityrotterdam,2011,458,23273,5229,0.0864091,0.224681,Netherlands,=72,0.049751,0.20,22047,4409,1097
37,China,40,Asia,fudanuniversity,4037,1178,29135,4680,0.138562,0.160632,China,116,0.082645,0.10,32859,3286,2716
61,United States,70,North America,georgiainstitutetechnology,1133,75,21082,4761,0.0537425,0.225832,United States,33,0.048309,0.27,20773,5609,1004
103,Belgium,=125,Europe,ghentuniversity,2520,482,35968,3766,0.0700623,0.104704,Belgium,107,0.027855,0.10,35909,3591,1000
2,United States,3,North America,harvarduniversity,4350,1311,22429,5266,0.193945,0.234785,United States,6,0.112360,0.26,20326,5285,2284
82,Hong Kong,=95,Asia,hongkongpolytechnicuniversity,2447,1275,20972,5251,0.116679,0.250381,Hong Kong,=182,0.037175,0.25,21773,5443,809
27,Hong Kong,30,Asia,hongkonguniversityscienceandtechnology,1150,835,10375,2921,0.110843,0.281542,Hong Kong,44,0.043290,0.31,10214,3166,442
6,United Kingdom,8,Europe,imperialcollegelondon,3930,2071,16090,8746,0.244251,0.543567,United Kingdom,8,0.087719,0.55,15857,8721,1391
14,United States,17,North America,johnshopkinsuniversity,4462,1061,16146,4105,0.276353,0.254243,United States,13,0.232558,0.24,15498,3720,3604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,United Kingdom,=84,Europe,universitynottingham,3360,1135,29165,7993,0.115207,0.274061,United Kingdom,=147,0.071429,0.30,29176,8753,2084
114,Norway,=142,Europe,universityoslo,2509,711,24304,3667,0.103234,0.150881,Norway,146,0.053763,0.19,27730,5269,1491
5,United Kingdom,6,Europe,universityoxford,6750,2964,19720,7353,0.342292,0.37287,United Kingdom,1,0.089286,0.38,20409,7755,1822
16,United States,19,North America,universitypennsylvania,5499,1383,20639,4250,0.266437,0.205921,United States,=10,0.153846,0.20,20361,4072,3132
115,United States,=142,North America,universitypittsburgh,4982,572,26393,2937,0.188762,0.11128,United States,=100,0.169492,0.10,26367,2637,4469
42,Australia,=47,Oceania,universityqueensland,3158,1870,37497,10420,0.0842201,0.277889,Australia,65,0.028011,0.26,38968,10132,1092
137,United States,186,North America,universityrochester,2569,488,9636,2805,0.266604,0.291096,United States,=153,0.232558,0.29,9636,2794,2241
84,China,97,Asia,universityscienceandtechnologychina,1992,155,16032,548,0.124251,0.0341816,China,132,0.121951,0.03,16032,481,1955
72,United Kingdom,=82,Europe,universitysheffield,3065,938,25430,8745,0.120527,0.343885,United Kingdom,104,0.067114,0.36,24581,8849,1650
106,United States,132,North America,universitysourncalifornia,3124,551,38749,9170,0.0806214,0.236651,United States,66,0.078125,0.23,38380,8827,2998
89,United Kingdom,=102,Europe,universitysouthampton,2820,1017,23775,7789,0.118612,0.327613,United Kingdom,=126,0.080000,0.33,21670,7151,1734
79,United Kingdom,92,Europe,universitystandrews,1140,485,8800,4030,0.129545,0.457955,United Kingdom,=143,0.076923,0.48,9005,4322,693
45,Australia,50,Oceania,universitysydney,3360,1829,46678,17030,0.0719825,0.36484,Australia,61,0.046296,0.32,44553,14257,2063
59,United States,67,North America,universitytexasaustin,2833,108,47995,4744,0.059027,0.0988436,United States,49,0.058480,0.10,48561,4856,2840
26,Japan,=28,Asia,universitytokyo,4514,254,27279,2639,0.165475,0.0967411,Japan,46,0.149254,0.10,26000,2600,3881
28,Canada,31,North America,universitytoronto,9581,3905,72207,21910,0.132688,0.303433,Canada,=22,0.053476,0.17,69427,11803,3713
134,Netherlands,=179,Europe,universitytwente,910,299,9332,2235,0.0975139,0.239498,Netherlands,=179,0.078125,0.27,6697,1808,523
122,Austria,154,Europe,universityvienna,3411,1400,45967,14468,0.0742054,0.314748,Austria,=165,0.048077,0.26,35375,9198,1701
131,United States,=173,North America,universityvirginia,2509,487,21560,1899,0.116373,0.0880798,United States,=113,0.103093,0.12,24055,2887,2480
51,United Kingdom,57,Europe,universitywarwick,2093,890,19855,7703,0.105414,0.387963,United Kingdom,91,0.076923,0.39,18424,7185,1417
55,United States,61,North America,universitywashington,2484,550,56973,8373,0.0435996,0.146964,United States,=25,0.087719,0.16,44945,7191,3943
81,Australia,=93,Oceania,universitywesternaustralia,1420,809,18531,4575,0.0766284,0.246884,Australia,=111,0.045872,0.25,18787,4697,862
50,United States,55,North America,universitywisconsin-madison,5722,1151,38985,4920,0.146774,0.126202,United States,43,0.093458,0.12,38960,4675,3641
109,United Kingdom,=135,Europe,universityyork,1833,636,15999,3364,0.11457,0.210263,United Kingdom,=137,0.066225,0.27,14962,4040,991
64,Switzerland,=73,Europe,universityzurich,4997,2617,26065,5036,0.191713,0.193209,Switzerland,136,0.169492,0.20,26363,5273,4468
97,Sweden,112,Europe,uppsalauniversity,2567,584,25371,5198,0.101179,0.20488,Sweden,=86,0.057803,0.11,25174,2769,1455
95,Netherlands,=109,Europe,utrechtuniversity,3067,653,31754,2771,0.0965863,0.0872646,Netherlands,68,0.065789,0.07,31522,2207,2074
87,United States,100,North America,washingtonuniversityinstlouis,2699,784,13474,2706,0.200312,0.200831,United States,=50,0.133333,0.17,12600,2142,1680
13,United States,16,North America,yaleuniversity,4940,1708,12402,2469,0.398323,0.199081,United States,12,0.232558,0.21,12155,2553,2827
76,China,87,Asia,zhejianguniversity,4507,1913,40869,4625,0.110279,0.113166,China,=177,0.070922,0.06,50051,3003,3550

In [259]:
merge_df.corr()

,ratio_fac_students_y,ratio_inter_student,students_y,inter_students_y,fac_members_y
ratio_fac_students_y,1.000000,-0.052573,-0.376703,-0.363125,0.440064
ratio_inter_student,-0.052573,1.000000,-0.331599,0.487247,-0.314944
students_y,-0.376703,-0.331599,1.000000,0.555516,0.556060
inter_students_y,-0.363125,0.487247,0.555516,1.000000,0.179652
fac_members_y,0.440064,-0.314944,0.556060,0.179652,1.000000